<div class="bg-snap-sec text-white flex min-w-screen ">
  <div class="bg-snap-sec px-6 py-5 flex w-full justify-center">
    <span class="flex items-center">
      <%= link_to "Create new Category", new_group_path, class: "font-semibold text-xl tracking-wide font-body uppercase border-2 border-white px-5 py-3" %>
    </span>
  </div>
</div>
