
<div class="bg-white text-gray-800 shadow-lg overflow-hidden flex min-w-screen mx-4 mt-4">
  <div class="bg-white px-6 pt-6 pb-20 overflow-y-auto flex">
      <li class="border px-4 py-2"><%= group.name %></li>
      <li class="border px-4 py-2"><%= group.icon %></td>
  </div>
</div>
