<div class="bg-white text-gray-800 shadow-sm overflow-hidden flex min-w-screen mx-4 mt-4 border rounded-sm">
  <div class="bg-white px-6 py-5 overflow-y-auto flex justify-between w-full rounded-sm">
    <%= image_tag(group.icon, size: "50x50", alt: "Group icon") %>
    <h2 class="text-lg font-semibold text-snap-text"><%= group.name %></h2>
  </div>
</div>
