 <div class="bg-white h-full w-full px-5 pt-6 pb-20 flex flex-col justify-center items-center">
  <h1 class="font-bold text-4xl">Pages#home</h1>
  <%= link_to "Sign up", new_user_registration_path, class: "inline-block text-sm uppercase px-4 py-2 bg-snap-sec leading-none border rounded text-white border-white w-full py-3 hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"%>
</div>

