 <div class="bg-white h-screen w-full px-5 pt-6 pb-20 justify-center items-center"'">
 <div class="flex flex-col h-full justify-center", style="height: calc(100vh - 10rem)">
  <h1 class="font-extrabold font-display text-4xl text-snap-title/75 text-center">rBudget</h1>
  <%= link_to "Login", user_session_path, class: "inline-block text-sm uppercase px-4 py-3 bg-snap-main leading-none border rounded text-white border-white w-full py-3 hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 text-center"%>
  <%= link_to "Register", new_user_registration_path, class: "inline-block text-sm uppercase px-4 py-3 bg-snap-sec leading-none border rounded text-white border-white w-full py-3 hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0 text-center"%>
 </div>
</div>

